<li class="button">
		{{#if devoured}}
		<button class="delete-burger" data-id="{{this.id}}">Delete!</button>
		{{else}}
		<button class="devour-burger" data-id="{{this.id}}"><span>Devour!</span></button>
		{{/if}}
</li>
